In [2]:
import pandas as pd

df = pd.read_csv('titanic-passengers-Copy1.csv', delimiter=';')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S

In [10]:
df.fillna(value={'Age':df['Age'].mean()}, inplace=True)

In [11]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [16]:
#df.replace({'Sex':{'male': 1,'female':0}},inplace=True)
##df['Cabin']=df.Cabin.fillna('G6')
###df.replace({'Survived':{'Yes': 1,'No':0}},inplace=True)
df.head()
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64

In [24]:
from sklearn.model_selection import train_test_split
from sklearn import tree as t
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [25]:
x=df.drop(["Survived", "Name", "Cabin", "Ticket", "Embarked"], axis=1)
y= df["Survived"]

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)

Tree = t.DecisionTreeClassifier()  
Tree.fit(x_train, y_train)   
y_pred=tree.predict(x_test)   
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.7597765363128491

In [30]:
x=df.drop(["Survived", "Name", "Cabin", "Ticket", "Embarked"], axis=1)
y= df["Survived"]

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3,random_state=15)

Tree = t.DecisionTreeClassifier()  
Tree.fit(x_train, y_train)   
y_pred=tree.predict(x_test)   
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.9552238805970149

In [31]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [32]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,0,2,"Collander, Mr. Erik Gustaf",1,28.0,0,0,248740,13.0000,G6,S
1,76,0,3,"Moen, Mr. Sigurd Hansen",1,25.0,0,0,348123,7.6500,F G73,S
2,641,0,3,"Jensen, Mr. Hans Peder",1,20.0,0,0,350050,7.8542,G6,S
3,568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",0,29.0,0,4,349909,21.0750,G6,S
4,672,0,1,"Davidson, Mr. Thornton",1,31.0,1,0,F.C. 12750,52.0000,B71,S

In [36]:
iris = datasets.load_iris()
data = pd.DataFrame({
    'Age':iris.data[:,0],
    'SibSp':iris.data[:,1],
    'Sex':iris.data[:,2],
    'Pclass':iris.data[:,3],
    'Survived':iris.target
})

X = data[['Age', 'SibSp', 'Sex', 'Pclass']]
Y = data['Survived']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)

In [37]:
clf = RandomForestClassifier(n_estimators=10)
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
print("Accuracy : ", metrics.accuracy_score(y_test, y_pred))

Accuracy :  0.9333333333333333

In [41]:
clf1 = RandomForestClassifier(n_estimators=50)
clf1.fit(x_train, y_train)
y_pred = clf1.predict(x_test)
print("Accuracy : ", metrics.accuracy_score(y_test, y_pred))

Accuracy :  0.9111111111111111

In [42]:
"""
    50 estimators precise more than 10 estimators in this case.
"""

'\n    50 estimators precise more than 10 estimators in this case.\n'